<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    alt=""
    height="170px">
  </div>
<a href="">
  <div class="big-card__title">
    <h1>**Titulo do Artigo**</h1>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam sit amet ante sodales lacus interdum efficitur eu quis felis.
      Donec nec sem tristique ligula rhoncus porttitor. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam sit amet ante sodales lacus interdum efficitur eu quis felis.
      Donec nec sem tristique ligula rhoncus porttitor. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam sit amet ante sodales lacus interdum efficitur eu quis felis.
      Donec nec sem tristique ligula rhoncus porttitor. Aliquam erat volutpat.
    </p>
  </div>
</a>
</div>
