.container__small-card {
  width: 700px;
  margin-bottom: 10px;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img{
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
  box-shadow: 10px 10px 5px lightblue
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70%;
}

.small-card__title > h1 > a{
  color: #4f4d4c;
}

.container__small-card-separator{
  margin-bottom: 10px;
}
